<table class="table table-bordered">
  <tr>
    <th class="bg-light">氏名</th>
    <td><%= @customer.name %></td>
  </tr>
    <tr>
    <th class="bg-light">メールアドレス</th>
    <td><%= @customer.email %></td>
  </tr>
</table>