<h3 class="bg-light px-3 my-3 d-inline-block">居酒屋一覧</h3>
<table class="table table-hover">
  <thead class="thead thead-light">
    <th>居酒屋ID</th>
    <th>店舗名</th>
    <th>掲載情報</th>
  </thead>
  <tbody>
    <% @stores.each do |store| %>
      <tr>
        <td><%= store.id %></td>
        <td><%= link_to store.name, admin_store_path(store.id) %></td>
        <td>
          <% if store.is_published %>
            <div class="text-success fw-bold">公開</div>
          <% else %>
            <div class="text-danger fw-bold">非公開</div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>