<div class='row pb-5'>
  <div class='col-7'>
    <h2 class="bg-light border px-3 mb-3 d-inline-block">店舗会員詳細</h2>
    <div class = "col-4">
      <table class="table table-borderless align-middle text-nowrap">
        <tr>
          <td><h3 class="m-0">登録情報</h3></td>
          <td><%= link_to '編集する', edit_admin_store_path, class: "btn btn-success btn-block" %></td>
        </tr>
      </table>
    </div>
    <%= render 'public_store/stores/store_list', store: @store %>
  </div>
</div>