<div class="row">
  <div class="col-lg-8 mx-auto">
    <div class="text-danger"><%= flash[:alret] %></div>
    <h3 class="bg-light px-3 my-3 d-inline-block">レビューを編集する</h3>
    <%= render 'public/reviews/form', review: @review, store: @store %>
  </div>
</div>