<div class="row">
  <div class="col-lg-4"></div>
  <h3 class="col-lg-3 bg-light text-center mt-5">レビューを編集する</h3>
</div>
<div class="row">
  <div class="col-lg-4"></div>
  <div class="col-lg-8">
    <%= render 'public/reviews/form', review: @review, store: @store %>
  </div>
</div>