<div class="row">
  <div class="col-lg-8 mx-auto mb-5">
    <h3 class="bg-light px-3 my-3 d-inline-block">お気に入り一覧</h3>
    <% @bookmarks.each do |bookmark| %>
      <%= link_to store_path(bookmark.store_id), class: "text-decoration-none" do %>
        <%= render 'public/stores/store.list', store: bookmark.store %>
      <% end %>
    <% end %>
  </div>
</div>