    <table class="table table-hover">
      <% review_comments.each do |review_comment| %>
      <tr>
        <td><%=safe_join(review_comment.comment.split("\n"),tag(:br))%></td>
        <td class="text-right">
          <%= review_comment.customer.name %><br>
          <%= review_comment.created_at.strftime('%Y/%m/%d') %>
        </td>
        <td><%= link_to '削除する', store_review_review_comment_path(review_comment.store,review_comment.review,review_comment),class: "btn btn-sm btn-danger", method: :delete, remote: true %></td>
      </tr>
      <% end %>
    </table>